<!DOCTYPE HTML>

<html style="min-width: 1400px!important">
	<head>
		<title>WINGBOT~RESULTS</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	</head>
	
	<body>
	
		<div style="margin: 2vh 3vw 2vh 3vw;">
			
			<div class="row">
				<div class="col-3">
					<img class="card-img-top mx-auto" src=<%=pp%> alt="User Picture" style="border-radius: 50%; height: 30vh; width: 30vh; border: 5px solid black; display: block">
					<h1 style="text-align: center">@<%=at%></h1>
				</div>
				
				</div>
			</div>

			<br>

			
		
		</div>
	
	</body>
	
</html>